body {margin: 0px;background-color: #171717;}
.content {background-color: #171717;background-repeat: no-repeat;background-size: cover;width: 100vw;height: 100vh;margin: 0px;}
.section2 {height: 200vh !important;}
.fixed-nav {display: flex;width: 300px; height: 0px;}
.fixed-nav .nav {text-align: right; position: fixed; align-items: flex-end;top: 30px;right: 0px;} 
.fixed-nav .nav a {font-size: 1.5rem; margin-right: 5vh; font-weight: 700;}
.fixed-nav .nav a {color: #212121; position: relative; display: inline-block; font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li .active {color: #fff !important;}
.fixed-nav .nav li {list-style:none;}
/* .fixed-nav .nav .active::after {color: white;} */
.section1 .title h2 {font-size: 110px;font-weight: 900;color: #fff; height: 100px;}
/* .section1 .title img {font-size: 110px;font-weight: 900;color: #fff; height: 100px;} */

.main h1 {position: absolute; color: #fff;line-height: 7rem;font-size: 7.5rem;font-family: 'Montserrat';  margin: 1vh 1vh;}
.main {margin: 5vh 5vw; z-index: 10;}
.section1 .selfie {position: absolute; background-repeat: no-repeat;background-size: contain;background-image: url("./img/selfie.JPG"); margin: 35vh 10vw;width: 25vw; height: 50vh; z-index: 0;}
.graph-container {width: 30vw;height: 20vh; padding: 30vh 0vw 0vh 40vw;display: flex;flex-direction: row;}
.graph {display: flex;flex-direction: column; margin: 4vh 0vw 0vw 1vw;}
.graph p {color: #fff; font-family: 'Noto Sans KR'; font-weight: 300;font-size: 1.5rem;}
canvas{width:25vw !important;}

.icon {position: absolute; right: 5vw;bottom: 7vh;margin: auto; display: flex; align-items: flex-end;}
.icon div {height: 6vh; width: 6vw;margin: 0vh 0.1vw;}
.icon_mail {margin-right:1vw !important;background-repeat: no-repeat;background-size: contain;background-image: url("./img/mail.png");}
.icon_mail:hover {cursor: pointer;}
.icon_github {background-repeat: no-repeat;background-size: contain;background-image: url("./img/github.png");}
.icon_linkedin {background-repeat: no-repeat;background-size: contain;background-image: url("./img/linkedin.png");}
.icon_insta {background-repeat: no-repeat;background-size: contain;background-image: url("./img/instagram.png");}

.section2 .motto h1 {font-size: 4rem;color: #fff; border-bottom: #fff solid 0.2rem; display: inline;}
.section2 .motto {text-align: center; padding: 20vh 10vw;}
.section2 .motto h4 {font-size: 2rem;color: #fff; display: inline; font-weight: 300;}
.section2 .motto h2 {font-size: 2.5rem;color: #fff; border-bottom: #fff solid 0.2rem;display: inline;}

.section2 .text_container h1 {font-size: 4rem;color: #fff; border-bottom: #fff solid 0.2rem; display: inline;}
.section2 .text_container {text-align: left; padding: 20vh 10vw;}
.section2 .text_container h4 {font-size: 2rem;color: #fff; display: inline; font-weight: 300;}
.section2 .text_container h2 {font-size: 2.5rem;color: #fff; border-bottom: #fff solid 0.2rem; margin: 1rem 2rem;}
.section2 .onoff {position: absolute; background-repeat: no-repeat;background-size: contain;background-image: url("./img/on:off.png"); margin: 5vh 0vw;width: 25vw; height: 50vh;}

