<header>
    <nav class="nav">
        {% if page.type == "about" %}
        <a class="link about" href="/kakao/about">&nbsp;ABOUT.<span></span></a>
        {% else %}
        <a class="link" href="/kakao/about">ABOUT.</a>
        {% endif %}

        {% if page.type == "project"%}
        <a class="link project" href="/kakao/project">&nbsp;PROJ.<span></span></a>
        {% else %}
        <a class="link" href="/kakao/project">PROJ.</a>
        {% endif %}
    </nav>
    
        {% if page.type != "project" and  page.type != "about" %}
        <a class="link home" href="/kakao"><h1>&nbsp;PARK.</h1><span></span></a>
        {% else %}
        <a class="link home" href="/kakao"><h1>PARK.</h1></a>
        {% endif %}
    </a>
</header>