/* :root{
    --main-red: #F7CE46;
    --main-#FFF: #FFF;
    --main-#000: #FFF;
} */

* {display: block;box-sizing: border-box;}
body {margin: 0px; width:100vw; background-size: cover;overflow-x: hidden; background-color: #FFF;}
a,h1,h2,h3,h4,h5,p {color: #000;}
main span{display: inline;}
a:link:active, a:visited:active {color: #FFF;}
.main {width: 100vw;margin: 0px; overflow: auto; scroll-padding: 0px 0px 0px 0px; scroll-snap-type: both mandatory;}
.about .main {height: 0vh;}
.inner { top: 0;left: 0;width: 100%;transition: 0.8s transform cubic-bezier(0.65, 0, 0.35, 1); z-index: -1; background-color: #FFF; padding-top: 90px;border-bottom: 0.5vh solid #F7CE46;}
.inner{padding-top: 20vh;}
.about .inner .center{width: 100%; height: 100vh;}
.about .inner{ height: 100vh;-webkit-transition: background-color 500ms ease-out;-moz-transition: background-color 500ms ease-out; -o-transition: background-color 500ms ease-out;transition: background-color 500ms ease-out;position: fixed;}
.about .inner h1{width: 240px; font-size: 3.5rem; display: inline-block; font-family: 'Kakao B'; text-align: center;}
.about .inner h1 em{font-size: 3.5rem; display: inline-block; font-family: 'Kakao B'; font-style: normal; opacity: 0.1; transition: none;}
.about .inner h2{font-size: 2.8rem; font-family: 'Kakao B'; text-align: center; width: 260px; line-height: 1.5;}
.about .inner h2 em{font-size: 2.6rem; font-family: 'Kakao L'; text-align: center; font-style: normal;transition: none;}

.cursor {position: fixed;left: 0;top: 0; pointer-events: none;}
.cursor--small {width: 5px;height: 5px;left: -2.5px;top: -2.5px;border-radius: 50%;z-index: 11000;background: var(--color-text);}
.cursor--canvas {width: 100vw;height: 100vh;z-index: 12000;}

.about .inner h1+p{text-align:center; font-family: 'Kakao L'; font-size: 1rem;line-height: 0; margin: 0; color: #bdbdbd;}
.about .inner .switch{display: flex; align-items: center;padding-top: 30px; justify-content: center; max-width: 850px; margin: auto; justify-content: space-around;}
.about .inner .switch *:not(em){transition: all 600ms ease-in;}
.about .inner .switch img{width: 110px;cursor: pointer;}
.about .inner .sub-title {display: flex; justify-items: center; align-items: center; flex-direction: column;}
.about .inner .sub-title:last-child {padding-top: 40px;}
.about .inner .sub-title, .inner h2{text-align: center; color: #000;}
.about .inner .sub-title h3{font-size: 1.7rem; font-family: 'Noto L'; margin-top: 40px;}
.about .inner .sub-title span{position: absolute; border-bottom: 3px solid #F7CE46; display: inline-block; opacity: 0.8; z-index: -1; transform: rotate(-1deg);}
/* .about .inner .sub-title h1+span{width: 330px; margin-top: 60px;} */
.about .inner .sub-title h3+span{width: 400px; margin-top: 60px; opacity: .4;}

.project .cursor-next{cursor: url('./img/next-red.png'), pointer; }
.project .cursor-back{cursor: url('./img/back-red.png'), pointer; }
.project .cursor-plus{cursor: url('./img/plus-red.png'), pointer; }
.project .cursor-cancel{cursor: url('./img/cancel-red.png'), pointer; }

.project .inner { padding: 250px 0 100px;}
.project .inner .sub-cnt{padding: 60px 70px 10px;}
.project .inner .sub-cnt p {text-align: left; font-size: 1.8rem; font-family: 'Kakao L'; margin: 0;}
.project .inner .sub-cnt.right p {text-align: right;}
.project .inner .sub-cnt .red-line {align-items: flex-start;}

.project .inner .sub-cnt.right .red-line {align-items: flex-end;}
.project .inner .red-line{display: flex;flex-direction: column;align-items: center;}
.project .inner .red-line h1 {text-align: center; font-size: 4rem; font-family: 'Kakao R';z-index: 1;}
.project .inner .red-line h2 {text-align: left; font-size: 3.3rem; font-family: 'Kakao R';z-index: 1;}
.project .inner .red-line >span{position: absolute;display: inline-block; opacity: 0.8; transform: rotate(-1deg); z-index: 0;}
.project .inner .red-line>h1+span{width: 750px; margin-top: 70px; border-bottom: 20px solid #F7CE46; }
.project .inner .red-line>h2+span{width: 310px; margin-top: 70px;border-bottom: 8px solid #F7CE46;  }
.project .inner .right .red-line>h2+span{width: 340px;}
.project .inner .red-line h1 em{display: inline;}

.project .inner .sub-cnt .skill{display: flex; padding: 40px 0px 20px;flex-wrap : wrap;}
.project .inner .sub-cnt.right .skill{justify-content: flex-end;}
.project .section-cont .post .content{font-family: 'Kakao L';}
.project .section-cont .post .content h4{font-size: 2rem;}
.project .skill img{height: 90px; width: 90px;margin-right: 15px;}
.project .skill h4{display: inline; vertical-align: middle; font-size: 2rem;font-family: 'Kakao L'; margin: 0 25px 0 10px; line-height: 90px;}

.project .inner .center .slick-list{margin-top: 10px;z-index: 3; }
.project .inner .center .slick-list div{display: inline-block;}
.project .inner .center .slick-track{justify-items: center;display: flex;}
.project .inner .center .slick-slide{background-color: rgb(0, 0, 0); margin: 20px;transition: all 500ms ease;cursor: pointer;}
.project .inner .center.backend .slick-slide{opacity: 0.4;}
.project .inner .center .slick-slide.slick-active {color: #000;opacity: 1;}
.project .inner .center .slick-slide img{object-fit: cover; width: 100%;height: 250px;border-radius: 5px;}
.proj-title .skill{display: inline-flex; padding: 0px;flex-wrap : wrap;}

.project .inner .center .slick-slide >div{width: 100%;}
.project .inner .center .slick-slide .proj{position: relative; width: 100%;}
.project .inner .center .slick-slide .proj img{position: absolute; top: 0; left: 0; width: 100%;}
.project .inner .center .slick-slide .proj-title{z-index: 30;position: relative;margin: 50px auto; width: 100%;}
.project .inner .center .slick-slide .proj-title h1{font-size: 1.4rem; text-align: center;font-family: 'Kakao B'; color: #FFF;}
.project .inner .center .slick-slide .proj-title h2{font-size: 1rem; text-align: center;font-family: 'Kakao B'; color: #FFF;}
.project .inner .center .slick-slide .proj-title h3{font-size: 0.6rem; text-align: center;font-family: 'Kakao L'; line-height: 2; color: #FFF;}
.project .inner .center .slick-slide.slick-active:hover{transform: scale(1.1);}
.project .inner .center>button{color: #FFF;}

.project .inner .center .slick-prev{display: none !important;}
.project .inner .center .slick-next{display: none !important;}
.project .inner.detail-active{z-index: -1;pointer-events: none;}

.project .slick-dots{display: flex; justify-content: center; margin-top: 20px;}
.project .slick-dots li button{margin-right: 20px; width: 10px !important; height: 7px !important; background-color: rgba(71, 71, 71, 0.726); border: 0;text-indent:-10000px; cursor: pointer;}
.project .slick-dots li.slick-active button{background-color: rgba(224, 224, 224, 0.726);}

@media (max-width:1200px) {
    .project .inner .center .slick-slide .proj-title h1{font-size: 1.2rem;}
.project .inner .center .slick-slide .proj-title h2{font-size: 0.8rem;}
    .project .skill img {height: 60px;width: 60px;}
    .project .skill h4 {font-size: 1.5rem;line-height: 50px;}
}

@media (max-width:1024px) {
    .project .section-cont .post h2{font-size: 2.5rem;}
    .project .section-cont .post h3{font-size: 2.8rem;}
    .project .skill img {height: 50px;width: 50px;margin-right: 10px;}
    .project .skill h4 {font-size: 1.2rem;line-height: 40px;}
}

/* iPad Pro 12 */
@media (max-width:1024px) and (min-height:1200px) {
    .inner{padding-top: 25vh;}
}
/* iPad Pro 12 */
@media (max-width:1024px) and (min-height:1200px) {
    .inner{padding-top: 25vh;}
}

@media (max-width:900px) {
    .project .inner .center.backend .slick-slide{opacity: 1;}
    .about .inner h1 {font-size: 2.7rem; width: 230px;}
    .about .inner h1 em{font-size: 2.7rem;}
    .about .inner .switch {max-width: 600px;}
    .about .inner h2 {font-size: 2.2rem;width: 230px;}
    .about .inner h2 em{font-size: 2.2rem;}
}

@media (max-width:800px) {
    .project .inner .sub-cnt p {font-size: 1.3rem;}
    .project .inner .red-line h1 {font-size: 3rem;}
    .project .inner .red-line>h1+span {width: 500px;margin-top: 70px;border-width: 17px}
}

@media (max-width:660px) {
    .break-line660 {display: block;}
    .about .inner h2 {font-size: 2rem;}
    /* .project .inner .center .slick-slide .proj-title h1{font-size: 2rem; } */
    .project .section-cont .post h2{font-size: 1.6rem;}
    .project .section-cont .post h3{font-size: 2rem;}
    .project .inner .sub-cnt {padding: 60px 30px 10px;}
    .project .inner .red-line h1 em{display: none;}
    .project .inner .red-line>h1 { font-size: 4rem;}
    .project .inner .red-line>h1 span{font-size: 2rem;}
    .project .inner .red-line>h1+span {width: 400px;margin-top: 130px;border-width: 30px;transform: rotate(-5deg);}
}

@media (max-width:550px) {
    .about .inner{padding-top: 90px;}
    .about .inner .switch{flex-direction: column;}
    .about .inner h1 {font-size: 3rem;margin-top: 40px;margin-bottom: 20px;}
    .about .inner .link.switch {padding-top: 70px; padding-bottom: 20px;}
    .about .inner .switch {padding-top: 10px;}
    .about .inner .sub-title h1 {font-size: 3.4rem;}
    .about .inner .sub-title h3 {font-size: 1.6rem;margin-top: 30px;}
    .about .inner .sub-title:last-child {padding-top: 0px;}
    .about .inner .sub-title h1 {margin: 0px;}
    .about .inner .sub-title h1+span {width: 250px;margin-top: 45px;}
    .about .inner .sub-title h3+span {width: 350px;margin-top: 50px;}
    .project .inner .center .slick-slide .proj-title{margin: 40px auto;}
    .project .inner .center .slick-slide .proj-title h2{font-size: 0.8rem; }
    .project .inner .center .slick-slide .proj-title h1{font-size: 1.5rem; }
    .project .inner .center .slick-slide .proj-title h3{font-size: 0.8rem;margin-top: 30px;}
    .project .section-cont .post h2{font-size: 1.2rem;}
    .project .section-cont .post h3{font-size: 1.5rem;}
    .project .inner .red-line h2 {font-size: 2.8rem;}
    .project .inner .red-line>h2+span {width: 240px;margin-top: 70px;}
}

@media (max-width:480px) {
    .inner{padding-top: 90px;}
    .project .inner .center .slick-slide .proj-title h1{font-size: 1.2rem; }
    .inner .center .slick-slide{margin: 0px;}
    .project .section-cont .post h2{font-size: 1.2rem; margin: 40vh 0px 30px 5vw;}
    .project .section-cont .post h3{font-size: 1.5rem;margin-left: 5vw;}
    .about .inner h2 {font-size: 2rem;}
    .about .inner .switch img {width: 70px;}
    .project .inner .red-line>h1 { font-size: 3rem;}
    .project .inner .red-line>h1 span{font-size: 1.5rem;}
    .project .inner .red-line>h1+span {width: 300px;margin-top: 100px;border-width: 15px;transform: rotate(-3deg);}
}

@media (max-width:375px) {
    .about .inner{padding-top: 80px;}
    .about .inner .sub-title h3 {font-size: 1.4rem;}
    .about .inner .sub-title h3+span {width: 320px;margin-top: 50px;}
    .about .inner .sub-title h1 {margin: 0px 0px 30px;}
    .project .inner .red-line h2 {font-size: 3rem;}
    .project .inner .red-line>h2+span {width: 250px;margin-top: 80px;}
}