* {display: block;box-sizing: border-box;}
body {margin: 0px; width:100vw; background-size: cover;overflow-x: hidden;}
.main {width: 100vw;margin: 0px; overflow: auto; scroll-padding: 0px 0px 0px 0px; scroll-snap-type: both mandatory;}
.about .main {height: 0vh;}
.inner {position: fixed;top: 0;left: 0;width: 100%;height: 100vh;transition: 0.8s transform cubic-bezier(0.65, 0, 0.35, 1);z-index: -1; background-color: #000; padding-top: 90px;border-bottom: 0.5vh solid #FF3901;}

.about .cursor {position: fixed;left: 0;top: 0;pointer-events: none;}
.about .cursor--small {width: 5px;height: 5px;left: -2.5px;top: -2.5px;border-radius: 50%;z-index: 11000;background: var(--color-text);}
.about .cursor--canvas {width: 100vw;height: 100vh;z-index: 12000;}

.about .inner h1, .inner h2, .inner h3{text-align: center; color: white;font-family: 'Noto Th'; }
.about .inner h1{font-size: 4rem; margin-top: 0px;font-family: 'Noto B';}
.about .inner h2{font-size: 3rem; }
.about .inner h3{font-size: 1.5rem; margin-top: 100px;}
.about .inner .switch{display: flex; align-items: center;padding-top: 40px; justify-content: center;}
.about .inner .switch img.on {margin-right: 40px;}
.about .inner .switch img{width: 120px; margin: 0 80px 0 100px;cursor: pointer;}

.inner .center{width: 100%; height: 100vh;}


.project .cursor-next{cursor: url('./img/next-red.png'), pointer; }
.project .cursor-back{cursor: url('./img/back-red.png'), pointer; }
.project .cursor-plus{cursor: url('./img/plus-red.png'), pointer; }
.project .cursor-cancel{cursor: url('./img/cancel.png'), pointer; }

.project .main.hide{height:0vh;}
.project .main{height:100vh;}
.project .inner .center .slick-list{margin-top: 40px;z-index: 3;}
.project .inner .center .slick-list div{display: inline-block;}
.project .inner .center .slick-track{justify-items: center;display: flex;}
.project .inner .center .slick-slide{background-color: rgb(0, 0, 0); margin: 40px;opacity: 0.4; transition: all 500ms ease;}
.project .inner .center .slick-slide.slick-active {color: white;opacity: 1;}
.project .inner .center .slick-slide img{object-fit: cover; width: 100%;opacity: 0.6;height: 70vh;}

.project .inner .center .slick-slide .proj-title{width:53.75rem; position: absolute; opacity: 1 !important; margin: 160px 0px;}
.project .inner .center .slick-slide .proj-title h1{font-size: 3rem; text-align: center;}
.project .inner .center .slick-slide.slick-active:hover{transform: scale(1.1);}
.project .inner .center>button{color: black;}
.project .inner .center .slick-prev{display: none !important;}
.project .inner .center .slick-next{display: none !important;}
.project .inner.detail-active{z-index: -1;pointer-events: none;}

.project .section-cont {margin-top: 99.5vh;z-index: 9999999;background-color: #dd4226;color: white; height: 100%;transition: all 500ms ease;}
.project .section-cont div{width: 100%;}
.project .section-cont .post{background-color: #000;}
.project .section-cont .post .title{position: absolute;}
.project .section-cont .post .content{padding: 5% 10%;}









@media (max-width:1200px) {
    .project .inner .center .slick-slide .proj-title{width:43rem; margin: 100px 0px;}
    .project .inner .center .slick-slide .proj-title h1{font-size: 2.9rem; }
}

@media (max-width:1024px) {
    .project .inner .center .slick-slide .proj-title{width:43.75rem; margin: 120px 0px;}
    .project .inner .center .slick-slide .proj-title h1{font-size: 2.8rem; }
}

@media (max-width:800px) {
    .project .inner .center .slick-slide .proj-title{width: 33.75rem; margin: 80px 0px;}
    .project .inner .center .slick-slide .proj-title h1{font-size: 2.3rem; }
}

@media (max-width:650px) {
    .project .inner .center .slick-slide .proj-title{width: 23.75rem; margin: 50px 0px;}
    .project .inner .center .slick-slide .proj-title h1{font-size: 2rem; }
}


@media (max-width:550px) {
    .project .inner .center .slick-slide .proj-title{width: 18.6rem; margin: 40px 0px;}
    .project .inner .center .slick-slide .proj-title h2{font-size: 1rem; }
    .project .inner .center .slick-slide .proj-title h1{font-size: 1.5rem; }
}

@media (max-width:480px) {
    .project .inner .center .slick-slide .proj-title h1{font-size: 1.4rem; }
    .inner .center .slick-slide{margin: 0px;}
}


