@font-face{
	font-family:"Noto L";
    font-weight: normal;
    font-weight:100;
	src:url(./fonts/NotoSansKR-Light.otf);
}

@font-face{
	font-family:"Noto Th";
    font-weight: normal;
    font-weight:100;
	src:url(./fonts/NotoSansKR-Thin.otf);
}

@font-face{
	font-family:"Noto R";
    font-weight: normal;
    font-weight:100;
	src:url(./fonts/NotoSansKR-Regular.otf);
}

@font-face{
	font-family:"Noto M";
    font-weight: normal;
    font-weight:100;
	src:url(./fonts/NotoSansKR-Medium.otf);
}

@font-face{
	font-family:"Noto B";
    font-weight: normal;
    font-weight:100;
	src:url(./fonts/NotoSansKR-Bold.otf);
}

@font-face{
	font-family:"NanumM R";
    font-weight: bold;
    font-weight:700;
	src:url(./fonts/NanumMyeongjo-Regular.ttf);
}
