title{height: 0px;display: none;}
header a{font-weight: 100; font-size: 2.6rem; padding-top: 30px;cursor: pointer;}
header a:link {text-decoration: none; color: #000;}
header a:visited {text-decoration: none; color: #000;}
header a:active {text-decoration: none; color: #000;}
header a:hover { color: #000;}
header * {overflow-y: hidden;}
script{height: 0;}
header .link{font-family: 'Noto Th';}
header .link:not(.home){min-width: 160px;width: 180px;margin-left: 50px;}

.nav, header>a{position: fixed; height: 90px; color: #000; display: flex;z-index: 100; top: 0%; width: 100vw;}
.link span{height: 0px;margin-top: -27px; transform: rotate(-4deg);border-top: 0.7px solid #000; }
.link.home{padding-right: 100px; max-width: 200px; display: inline; right: 5px; text-align: right; justify-self: right; font-family: 'Noto M'; color: #dd4226; }
.link.home span{ position: fixed; width: 140px; margin-top: 35px; z-index: 99; border-top: 2px solid #dd4226;}

@media (max-width:600px) {
    header .link:not(.home){min-width: 90px;width: 100px; margin-left: 20px;}
    .link.home span{ width: 75px; margin-top: 17px; border-top: 1.3px solid #dd4226;}
    .nav a{font-size: 1.5rem;}
    .link.home{font-size: 1.5rem;}
    .link span{margin-top: -20px;}
    .link.home {padding-right: 30px;}
}