title{height: 0px;display: none;}
header a{font-weight: 100; font-size: 2.6rem; padding-top: 30px;cursor: pointer;}
header a:link {text-decoration: none; color: #000;}
header a:visited {text-decoration: none; color: #000;}
header a:active {text-decoration: none; color: #000;}
header a:hover { color: #000;}
header * {overflow-y: hidden;}
script{height: 0;}
header .link{font-family: 'Noto Th';}
header .link:not(.home){min-width: 160px;width: 180px;margin-left: 50px;}

.nav, header>a{position: fixed; height: 90px; color: #000; display: flex;z-index: 100; top: 0%; width: 100vw;}
.link span{height: 0px;margin-top: -27px; transform: rotate(-4deg);border-top: 0.7px solid #000; }
.link.home{padding-right: 100px; max-width: 200px; display: inline; right: 5px; text-align: right; justify-self: right; font-family: 'Noto M'; color: #dd4226; }
.link.home span{ position: fixed; width: 140px; margin-top: 35px; z-index: 99; border-top: 2px solid #dd4226;}

@media (max-width:600px) {
    header .link:not(.home){min-width: 90px;width: 100px; margin-left: 20px;}
    .link.home span{ width: 75px; margin-top: 17px; border-top: 1.3px solid #dd4226;}
    .nav a{font-size: 1.5rem;}
    .link.home{font-size: 1.5rem;}
    .link span{margin-top: -20px;}
    .link.home {padding-right: 30px;}
}


.sw {position: relative;display: inline-block;width: 60px;height: 34px;margin-bottom: 7px; margin-top: 5px;}
.sw input { opacity: 0;width: 0;height: 0;}
.sw input:checked + .slider {background-color: #181818;}
.sw input:focus + .slider {box-shadow: 0 0 1px #181818;}
.sw input:checked + .slider:before {background-color: rgb(218, 218, 218);-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.icon {position: fixed; right: 5vw;bottom: 40px;margin: auto; display: flex; align-items: flex-end;height: 50px; z-index: 10000;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0; border:3px solid #181818;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 2px;bottom: 1.3px;background-color: #181818;-webkit-transition: .4s;transition: .4s;}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}