title{height: 0px;display: none;}
.nav{position: fixed; height: 90px; color: white; display: flex;z-index: 100; top: 0%;}
header a{font-weight: 100; margin-left: 50px; font-size: 2.6rem; padding-top: 30px;cursor: pointer;}
header a:link {text-decoration: none; color: #fff;}
header a:visited {text-decoration: none; color: #fff;}
header a:active {text-decoration: none; color: #fff;}
header a:hover { color: #fff; }

.link span{border-top: 0.7px solid #fff; height: 0px;margin-top: -27px; transform: rotate(-4deg);}

.link.home{right: 0%; position: fixed; margin-right: 60px;font-size: 2.6rem; line-height: 2.5;padding-top: 0;z-index: 100;}
.link.home h1{font-weight: 600; font-size: 3.3rem;color: #dd4226; margin: 0; }

@media (max-width:820px) {
    .nav{height: 70px;}
    .nav a{margin-left: 20px; font-size: 1.7rem;}
    .link.home{margin-right: 30px;}
    .link.home h1{font-weight: 500; font-size: 2rem; margin-top: 10px;}
}