title{height: 0px;display: none;}
.nav{position: fixed; height: 90px; color: white; display: flex;z-index: 100; top: 0%;}
header a{font-weight: 100; margin-left: 50px; font-size: 2.6rem; padding-top: 30px;cursor: pointer;}
header a:link {text-decoration: none; color: #fff;}
header a:visited {text-decoration: none; color: #fff;}
header a:active {text-decoration: none; color: #fff;}
header a:hover { color: #fff; }
header * {overflow-y: hidden;}
script{height: 0;}
header .link{font-family: 'Noto Th';}
.link span{border-top: 0.7px solid #fff; height: 0px;margin-top: -27px; transform: rotate(-4deg);}

.link.home{right: 0%; position: fixed; height: 90px; display: flex; margin-right: 60px;font-size: 2.6rem;z-index: 100; }
.link.home h1{font-size: 2.9rem;color: #dd4226; margin: 0; font-family: 'Noto M';}
.link.home span{ position: fixed; border-top: 2px solid #dd4226; width: 140px; margin-top: 35px; transform: rotate(-4deg); z-index: 99;}

@media (max-width:820px) {
    .nav{height: 70px;}
    .nav a{margin-left: 20px; font-size: 1.7rem;}
    .link span{margin-top: -20px;}
    .link.home{margin-right: 30px;}
    .link.home h1{font-weight: 500; font-size: 2rem; margin-top: 10px;}
    .link.home span{ width: 100px; border-top-width: 1px;}

}