:root{
    /* --main-red: #dd4226;
    --main-black: #000;
    --main-white: #fff; */
    --main-red: #dd4226;
    --main-black: rgb(255, 213, 73);
    --main-white: #fff;
}

* {display: block;box-sizing: border-box; overflow-x: hidden;}
body {margin: 0px; width:100vw; background-size: cover;overflow-x: hidden;}
.content {width: 100vw;height: 100vh;margin: 0px; overflow: auto; scroll-padding: 0px 0px 0px 0px; scroll-snap-type: both mandatory;}

.inner {position: fixed;top: 0;left: 0;width: 100%;height: 100vh;transition: 0.8s transform cubic-bezier(0.65, 0, 0.35, 1);z-index: -1;pointer-events: none; background-color: var(--main-black);}
.inner * {overflow-y: hidden;}
.inner > div { padding: 72px 150px 0px; display: flex; flex-direction: row; margin: auto; bottom: 0; height: calc(100% - 92px);}
.inner .text{display: inline;color: var(--main-white); margin-top:100px; z-index: 2;}
.inner .text h1 {line-height: 7rem; font-size: 7rem;font-family:'Noto Th';min-width: 600px;}
.inner .text h3 {font-size: 3.5rem;font-family:'Noto R';}
.inner .selfie {max-width: 650px;bottom: 0%;z-index: 0;}
.inner .selfie img {position:fixed; width: 500px;height: auto; bottom: 0px; transform: translateX(-5%);}

.section-cont {margin-top: 99.5vh;z-index: 99; }
.section-cont > img{width: 100%;}
.section-cont > div{padding: 60px 0px; margin: auto;text-align: center;}
.section.intro h1{font-family:'NanumM R', 'Noto R'; font-size: 5rem; border-bottom: var(--main-white) solid 1px; display: inline;}
.section.intro h3{text-align: left;font-family:'NanumM R', 'Noto R'; line-height: 1.3; font-size: 2.2rem; display: block; padding: 50px 60px;}
.section.intro h4{text-align: left;font-family:'NanumM R', 'Noto R'; font-size: 2rem; padding-left: 60px;}

.section.skill{padding:100px 70px 200px; background-color: var(--main-black); color: var(--main-white);font-family:'Noto Th';}
.section.skill h1 {font-family:'Noto Th'; font-size: 2.5rem; border-bottom: var(--main-red) solid 1px; display: inline;}
.section.skill .graph-container {display: flex;justify-content: space-around;}
.section.skill .graph-container canvas {margin-top: 10vh;  } 

.cursor {position: fixed;left: 0;top: 0;pointer-events: none;}
.cursor--small {width: 5px;height: 5px;left: -2.5px;top: -2.5px;border-radius: 50%;z-index: 11000;background: var(--color-text);}
.cursor--canvas {width: 100vw;height: 100vh;z-index: 12000;}

.section.bubble {background-color: var(--main-red); color: var(--main-white);font-family:'Noto Th';padding-bottom: 100px;}
.section.bubble > h1{font-family:'Noto R'; font-size: 5rem; border-bottom: var(--main-white) solid 1px; display: inline;}
.section.bubble .about_container {display: flex; flex-direction: row;width: 100vw; height: 70vh; padding-top: 1vh;}
.section.bubble .about_container .about { border: 1px solid var(--main-white); border-radius: 50%; position: relative; margin: auto -20px; }
.section.bubble .about_container .about:hover {cursor: pointer;}
.section.bubble .about_container .about.about1 {height: 300px; width: 300px; margin-top: 25vh; animation: movex 3s ease-in-out alternate infinite;}
.section.bubble .about_container .about.about2 {height: 380px; width: 380px; margin-top: 10vh; animation: movey 2s ease-in-out alternate infinite;}
.section.bubble .about_container .about.about3 {height: 350px; width: 380px; margin-top: 20vh; animation: movey2 3s ease-in-out alternate infinite;}
.section.bubble .about_container .about.about4 {height: 380px; width: 380px; animation: movey2 2.5s ease-in-out alternate infinite;}
.section.bubble .about_container .about.about5 {height: 300px; width: 300px; margin-top: 30vh; margin-right: -70px; right: -5px;}
.section.bubble .about_container .text_container {margin-top: 15%; text-align: center; }
.section.bubble .about_container .text_container h1 {font-size: 2em; color: var(--main-white); border-bottom: var(--main-white) solid 0.2rem; display: inline;}
.section.bubble .about_container .text_container h2 {font-size: 1.2em; font-weight: 200; color: var(--main-white); display: inline; margin-top: 2em;}

@keyframes movex{0%{transform : translate(-5px, 0)}100%{transform : translate(5px, 0)}}
@keyframes movey{0%{transform : translate(0, 0); width: 360px;height: 360px;}100%{transform : translate(0, -15px);}}
@keyframes movey2{0%{transform : translate(0, 0); width: 380px; height: 340px; }100%{transform : translate(0, -20px);}}

.icon {position: absolute; right: 5vw;bottom: 40px;margin: auto; display: flex; align-items: flex-end;height: 50px;}
.icon a, .icon div {height: 100%; width: 70px;margin: 0vh 0.3vw;}
.icon .icon_mail {background-repeat: no-repeat;background-size: contain;background-image: url("https://img.icons8.com/material-rounded/96/000000/important-mail.png");filter: invert(100%); }
.icon .icon_mail:hover {cursor: pointer;}
.icon .icon_github {background-repeat: no-repeat;background-size: contain;background-image: url("https://img.icons8.com/material-rounded/96/000000/github.png");filter: invert(100%);}
.icon .icon_linkedin {background-repeat: no-repeat;background-size: contain;background-image: url("https://img.icons8.com/small/96/000000/linkedin.png");filter: invert(100%); height: 95%;}
.icon .icon_insta {background-repeat: no-repeat;background-size: contain;background-image: url("https://img.icons8.com/fluent-systems-regular/96/000000/instagram-new.png");filter: invert(100%);}
.section hr {display: none;}
.section h1.contact {display: none;}
@media (max-width:1048px) {
    .inner > div { padding:  72px 50px 0px;}
    .inner .text h1 {line-height: 6rem; font-size: 6rem;min-width: 350px;}
}
/* <img src="https://img.icons8.com/material-rounded/96/000000/important-mail.png"/> */
@media (max-width:1200px) {
    .section.bubble .about_container .about.about2 {height: 280px;}
    .section.bubble .about_container .about.about3 {height: 280px;}
    .section.bubble .about_container .about.about4 {height: 280px;}
    .section.bubble .about_container .about.about1 {height: 200px;}
    .section.bubble .about_container .about.about5 {height: 200px;}
    @keyframes movey{0%{transform : translate(0, 0); width: 360px;height: 300px;}100%{transform : translate(0, -15px);}}
    @keyframes movey2{0%{transform : translate(0, 0); width: 400px; height: 300px; }100%{transform : translate(0, -20px);}}
    }
    

@media (max-width:820px) {
    .inner .selfie {max-width: 550px;bottom: 0%; position:fixed;}
    .inner > div { padding: 72px 10px 0px; }
    .inner .text{position: fixed; bottom: 0%;}
    .inner .text h1 {line-height: 4rem; font-size: 4rem;min-width: 600px;}
    .inner .text h3 {font-size: 2.5rem;}
    .inner .selfie {min-width: 500px;}
    .inner .selfie img {width: 500px;left: 50%;transform: translateX(-40%);}

    .section-cont > div{padding: 0px 10px;}
    .section.intro h1{font-size: 2.5rem; border-bottom: var(--main-white) solid 1px; display: inline;}
    .section.intro h3{font-size: 1rem; display: block; padding: 50px 20px;}
    .section.intro h4{font-size: 0.8rem; padding-left: 20px;}

    .section.skill {padding: 50px 60px 200px;}
    .section.skill h1 {font-size: 2rem;}
    .section.skill .graph-container {flex-direction: column; padding-left: 2vw;}
    .section.skill .graph-container .graph {margin-right: 6vw;margin-top: 50px;}
    .section.skill .graph-container canvas {width:80vw !important; height: 200px !important; margin-top: 10vh;  } 

    .section.bubble .about_container .text_container {margin-top: 0%; text-align: left; padding-right: 40px;}
    .section.bubble .about_container .about { border: none; border-radius: 0%; position: relative; margin: auto; animation: none; width: 100%;}
    .section.bubble .about_container {display: flex; flex-direction: column;width: 100vw; height: auto; padding-top: 1vh;}
    .section.bubble .about_container .about.about1 {display: none;}
    .section.bubble .about_container .about.about2 {animation: none; margin-top: 0; width: 100%; height: auto;}
    .section.bubble .about_container .about.about3 {animation: none; margin-top: 0; width: 100%;height: auto;}
    .section.bubble .about_container .about.about4 {animation: none; margin-top: 0; width: 100%;height: auto;}
    .section.bubble .about_container .about.about5 {display: none;}
    .break-line820 {display: inline;}
    .section.bubble .about_container .text_container {margin-top: 70px; padding-left: 20px;}
    .section.bubble .about_container .text_container h2 {font-size: 1.5em;}
    .section.bubble .about_container .text_container h2 {font-size: 1.2em;}
    .section.bubble > h1{display: none;}
}
@media (max-width:476px) {
    .icon {position: relative; margin: 120px 0px 50px 5px; width: 100%; justify-content: center;right: auto;}
    .section hr { border-top: var(--main-white) 1px solid; display: block; width: 80px;margin-bottom: 110px;}
    .section h1.contact {display: inline;}
    .section.skill .graph-container {margin-bottom: 100px;}
    .section.skill {padding: 50px 20px 100px;}
}