a,h1,h2,h3,h4,h5, p {font-family: 'Noto Th';}
.inner {background-color: #FFF;}

.inner .text{color: #dd4226;}
.inner .text h1 {font-family:'Noto R';}
.inner .text h3 {font-family:'Noto R';}
.inner .selfie img {width: 800px; transform: translateX(-25%);}

.section-cont {background-color: #FFF;}

.section.bubble {background-color: #dd4226; color: #fff;}
.section.bubble > h1{font-family:'Noto R'; border-bottom: #fff solid 1.3px;}
.section.bubble .about_container .about { border: 1px solid #fff;}
.section.bubble .about_container .text_container h1 {border-bottom: #fff solid 0.2rem; font-family: 'Noto B';}

.section.skill{background-color: #FFF; color: #000;}
.section.skill h1 {border-bottom: #dd4226 solid 1px; font-family: 'Noto R';} 

@media (max-width:476px) {
    .section hr {border-top: #fff 1px solid;}
}