body {margin: 0px; background-repeat: no-repeat;width:100vw; background-size: cover;background-color: #000000; background-attachment: fixed; background-image: url("./img/bg_text.png");}
a:link { color: #fff;}
a:visited { color: #fff;}

.content {width: 100vw;height: 100vh;margin: 0px;}
.fixed-nav { display: flex; align-items: flex-end; width: 30px; height: 0px;}
.fixed-nav .nav { position: fixed; top: 30px; right: 10px; margin-right: 3vw;} 
.fixed-nav .nav a {font-size: 2em; font-weight: 700;color: #212121; position: relative; display: inline-block; font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li .active {color: #fff !important;}
.fixed-nav .nav li {list-style:none;}

.section1 {display: flex;}
.section1 .title h2 {font-size: 110px;font-weight: 900;color: #fff; height: 100px;}
.section1 .main {margin: 2vh 2vw; z-index: 10; width: 22;}
.section1 .main h1 {position: absolute; color: #fff;line-height: 7rem;font-size: 7.5rem;font-family: 'Montserrat';  margin: 1vh 1vh;}
.section1 .selfie {position: absolute; background-repeat: no-repeat;background-size: contain;background-image: url("./img/selfie.JPG"); margin:300px 10vw;width: 25vw; height: 50vh; z-index: 0;}
.graph-container {width: 30vw;height: 20vh; padding: 40vh 0vw 0vh 37vw;display: flex;flex-direction: row;}
.graph {display: flex;flex-direction: column; margin-right: 1.4vw;}
.graph p {color: #fff; font-family: 'Noto Sans KR'; font-weight: 300;font-size: 1.5rem;}
canvas{width:25vw !important;} 

.icon {position: absolute; right: 5vw;bottom: 7vh;margin: auto; display: flex; align-items: flex-end;}
.icon div {height: 5vh; width: 5vw;margin: 0vh 0.3vw;}
.icon_mail {margin-right:2vw !important;background-repeat: no-repeat;background-size: contain;background-image: url("./img/mail.png");}
.icon_mail:hover {cursor: pointer;}
.icon_github {background-repeat: no-repeat;background-size: contain;background-image: url("./img/github.png");}
.icon_linkedin {background-repeat: no-repeat;background-size: contain;background-image: url("./img/linkedin.png");}
.icon_insta {background-repeat: no-repeat;background-size: contain;background-image: url("./img/instagram.png");}

.section2 .motto h1 {font-size: 3.5em;color: #fff; border-bottom: #fff solid 0.2rem; display: inline; margin: 0em;}
.section2 .motto {text-align: center; padding: 15vh 10vw;}
.section2 .motto h4 {font-size: 1.5rem;color: #fff; display: inline; font-weight: 300;}
.section2 .motto h2 {font-size: 2rem;color: #fff; border-bottom: #fff solid 0.2rem;display: inline;}
.motto .onoff {background-repeat: no-repeat;background-size: contain; margin: 10vh auto; background-image: url("./img/onoff.png"); width: 25vw; height: 20vh;}

.section3 .text_container {text-align: left; padding: 20vh 10vw;}
.section3 .text_container h1 {font-size: 3.5rem;color: #fff; border-bottom: #fff solid 0.2rem; display: inline;}
.section3 .text_container h2 {font-size: 2rem;font-weight: 200;color: #fff; border-bottom: #fff solid 0.05rem; display: inline;}

/* .section4 {padding: 5vh 10vw;} */
.section4 .grid {padding: 2vh 0vw; border-left: #fff solid 0.1rem; width: 70vw; margin: 5vh 10vw;}
.section4 h1 {font-size: 4rem;color: #fff;display: inline; margin-left: 2vw; }

.gallery {display: flex; flex-direction: row; width: 80vw; overflow-x: auto; }
.gallery img {height: 250px; margin: 5vh 0.4vw;}
.gallery::-webkit-scrollbar {height: 6px;}
.gallery::-webkit-scrollbar-thumb {opacity: .4; background-color: #fff; border-radius: 15px;}
summary::-webkit-details-marker {display: none}

summary h2 {font-weight: 500; font-size: 1.4rem;}
summary h3 {font-weight: 700; font-size: 2rem; border-bottom: #fff solid 2px; display: inline;}

details[open] summary ~ * { animation: sweep 0.3s ease-in-out; }
@keyframes sweep {0% {opacity: 0; margin-left: -10px} 100% {opacity: 1; margin-left: 0px}}
details {color: #fff; margin: 5vh 0vw 5em 5vw;}
details[open] .project { padding: .5em; border-left: #fff solid .3px; padding-left: 2em;}
details[open] h4 {font-weight: 500; font-size: 1.5rem; margin: 2em 0em 0em 0em;}
details[open] h5 {font-weight: 300; font-size: 1.5rem; }
details[open] p {font-weight: 200; font-size: 1.4rem; line-height: 2rem; margin-left: 10px;}
details[open] summary { margin-bottom: 2.5em;}


@media (max-width:800px) {
    body {width: auto;}
    .content {width: 90vw;}
    .fixed-nav {display: none;}
    .section1 {flex-direction: column;}
    .section1 .main h1 {line-height: 4rem;font-size: 3.5rem; order: 0; display: inline; width: 70vw;}
    .section1 .main { width: 80vw; height: 60vh; z-index: 10;display: flex;}
    .section1 .selfie {position: relative;margin: 30vh auto 0vh;width: 50vw; z-index: 0;order: 1;}

    .graph-container {display: none;}
    /* .graph-container {width: 100vw; height: 50vh; padding: 0vh 0vw 0vh 0vw; display: flex;flex-direction: column} */
    .graph {margin: 0vh 0vw 0vw 0vw; height: 23rem; }
    .graph p {font-size: 1rem;}

    .icon {position: absolute; right: 5vw;bottom: 0vh;margin: auto; display: flex; align-items: flex-end;}
    canvas{width:100%!important; height: 50vh !important;}
    /* .section2 {height:120vh !important;} */

    .section2 .motto h1 {font-size: 2rem;}
    .section2 .motto {text-align: center; padding: 10vh 0vw;}
    .section2 .motto h4 {font-size: 1rem;color: #fff; display: inline; font-weight: 300;}
    .section2 .motto h2 {font-size: 1.2rem;color: #fff; border-bottom: #fff solid 0.1rem;display: inline;}
    .motto .onoff {margin: 5vh auto 0vh;width: 40vw; height: 15vh;}
    
    .section3 .text_container h1 {font-size: 1.5rem;color: #fff; border-bottom: #fff solid 0.2rem; display: inline;}
    .section3 .text_container {padding: 10vh 5vw; width: 70vw;}
    .section3 .text_container h2 {font-size: 0.8rem; font-weight: 200;color: #fff; border-bottom: #fff solid 0.05rem; display: inline;}
    .section4 .grid {margin: 4vh 0vw 4vh 2vw;}
    /* .section4 {width:90vw;} */

    /* .gallery { width: 68vw; } */
    .gallery img {height: 150px; margin: 5vh 0.4vw;}

    .section4 p {font-size: 0.5rem;}
    .section4 h2 {font-size: 0.8rem;}
    .section4 h3 {font-size: 1.0rem;}
    .section4 h4 {font-size: 0.7rem;}
    .section4 h1 {font-size: 2rem;color: #fff;display: inline; margin-left: 2vw; }

    summary h2 {font-size: 1rem;}
    summary h3 {font-size: 1.4rem; border-bottom: #fff solid 2px; display: inline;}

    details {color: #fff; margin: 5vh 0vw 5em 5vw;}
    details[open] h4 {font-size: 1rem; }
    details[open] h5 {font-size: .9rem; }
    details[open] p {font-size: .8rem; line-height: 1.4;}
    details[open] summary { margin-bottom: 2.5em;}
    details[open] .project { width: 65vw;padding-left: .5em;}
}