:root{
    --main-red: #dd4226;
    --main-black: #000;
    --main-white: #fff;
}

* {display: block;box-sizing: border-box;}
body {margin: 0px; width:100vw; background-size: cover;overflow-x: hidden;}
a,h1,h2,h3,h4,h5,p {color: var(--main-white);}
a:link:active, a:visited:active {color: var(--main-white);}

.content {width: 100vw;margin: 0px; overflow: auto; scroll-padding: 0px 0px 0px 0px; padding: 5% 10%;font-family: 'Noto M'; scroll-snap-type: both mandatory;overflow: hidden;}

.cursor {position: fixed;left: 0;top: 0;pointer-events: none;}
.cursor--small {width: 5px;height: 5px;left: -2.5px;top: -2.5px;border-radius: 50%;z-index: 11000;background: var(--color-text);}
.cursor--canvas {width: 100vw;height: 100vh;z-index: 12000;}

#img-wrapper{display: none; position: fixed; z-index: 9999; width: 100vw; height: 100vh; cursor: pointer; background-color: rgba(0, 0, 0, 0.705);align-items: center; justify-content: center; align-content: center;}
#img img{width: 100%; height: 100%; }

.back-btn{position: fixed; right: 50px; z-index: 999; width: 50px; height: 50px; top: 45vh; cursor: pointer;}
.section-cont {background-color: var(--main-black);color: white;transition: all 500ms ease;}
.section-cont > div{z-index: 99;width: 100%;display: flex; flex-direction: column; width: 100vw; }
.post .section-cont{background-color: #000;}
.post .section-cont .title{text-align: left; vertical-align: text-bottom; height: 0; }
.post .section-cont .title *{z-index: 0;}
.post .section-cont > img{height:100vh; width: 100vw; top: 0; object-fit: cover;z-index: -1; }
.post .section-cont h2{font-size: 3.5rem; margin: 60vh 0px 30px 10vw; font-family: 'Noto B';}
.post .section-cont h3{font-size: 3.8rem; margin: 0; margin-left: 10vw; font-family: 'Noto B';}


.post .skill{display: flex; padding: 40px 0px 20px;}
.post .content{font-family: 'Noto Th';}
.post .content h4{font-size: 2rem;}
.post .skill img{height: 90px; width: 90px;margin-right: 15px;}
.post .skill h4{display: inline; vertical-align: middle; font-size: 2rem;font-family: 'Noto Th'; margin: 0 25px 0 10px; line-height: 90px;}


.post .section-cont .gallery {display: flex; flex-direction: row; width: 100%; overflow-x: scroll; overflow-y: hidden; height: 300px; }
.post .section-cont .gallery img {height: 250px; margin: 5vh 0.4vw;}
.post .section-cont .gallery::-webkit-scrollbar {height: 6px;}
.post .section-cont .gallery::-webkit-scrollbar-thumb {opacity: .4; background-color: #fff; border-radius: 15px;}