.y .link.home h1{ color: #F7CE46; }
.y .link.home span{border-top: 2px solid #F7CE46;}
.y header .link{font-family: 'Kakao L';}
.y .link.home h1{font-family: 'Kakao R';}
.y .link.home span {margin-top: 20px;}

.y a,.y h1,.y h2,.y h3,.y h4,.y h5,.y p {font-family: 'Kakao L';}
.y .post a,.y .post h1,.y .post h2,.y .post h3,.y .post h4,.y .post h5,.y .post p {font-family: 'Nanum Myeongjo';}
.y .inner .text h3 {font-family:'Kakao R';}
.y .inner .text{color: #F7CE46;}
.y .link.home{color: #F7CE46; font-family:'Kakao R';}

.y .section.bubble {font-family:'Kakao B';background-color: #F7CE46; color: #fff;}
.y .section.bubble > h1{font-family:'Kakao B'; }
.y .section.bubble .about_container .text_container h1 {font-family:'Kakao B';}
.y .section.bubble .about_container .text_container h2{font-family:'Kakao L'; line-height: 1.5;}
.y .section.skill h1 {border-bottom: #F7CE46 solid 1px;font-family:'Kakao L';} 

.y .about .inner .sub-title span {border-bottom: 3px solid #F7CE46;}
.y .about .inner {border-bottom: 0.5vh solid #F7CE46;}

.y .project .inner .red-line>h1+span {margin-top: 70px;}
.y .inner {border-bottom: 0.5vh solid #F7CE46;}
.y .project .inner .red-line h1 {font-family: 'Kakao L';}
.y .project .inner .red-line>h1+span{border-bottom: 23px solid #F7CE46;}
.y .project .inner .red-line>h2+span{border-bottom: 5px solid #F7CE46;}
.y .project .inner .center .slick-slide .proj-title h1{font-family: 'Kakao B';}
.y .project .inner .center .slick-slide .proj-title h2{font-family: 'Kakao B';}
.y .project .inner .red-line>h2+span {margin-top: 80px;}
.y .project .inner .right .red-line>h2+span {width: 390px;}




.y .post .content {border-bottom: .5vh solid #F7CE46;}
.y .post .title h2{font-family: 'Noto B';}
.y .post .title h3{font-family: 'Noto B';}
.y .post .section-cont h2{font-family: 'Noto M';}
.y .post .section-cont h3{font-family: 'Noto B';}
.y .post h5.quot-title:before {font-family: 'Noto B';}
.y .post h5.quot-title:after {font-family: 'Noto B';}
.y .post .section-cont .gallery::-webkit-scrollbar-thumb {background-color: #000;}
.y .post .cardnews h4 {font-family: 'Noto B';}
.y .post .server-head .gallery::-webkit-scrollbar-thumb {background-color: #F7CE46;}
.y .post .server-head .gallery{ scrollbar-3dLight-Color: #F7CE46; scrollbar-arrow-color: #F7CE46; scrollbar-base-color: #F7CE46; scrollbar-Face-Color: #F7CE46; scrollbar-Track-Color: #F7CE46; scrollbar-DarkShadow-Color: #F7CE46; scrollbar-Highlight-Color: #F7CE46; scrollbar-Shadow-Color: #F7CE46;}
.y .post .sopt-page .main-img::-webkit-scrollbar-thumb {background: #F7CE46; }
.y .post .sopt-page .img-cont::-webkit-scrollbar-thumb {background: #F7CE46;}

.y .contact span.active {border-top: 10px solid #F7CE46;}

@media (max-width:600px) {
    .y .link.home {font-size:1.6rem;}
    .y .link.home span {margin-top: 10px;}
    .y .link.home span{border-top: 1.5px solid #F7CE46;}
}