@charset"utf-8";

.container {padding: 60px;}
.grid_wrap {position: fixed; pointer-events: none; z-index: 9000; top: 0; left: 60px; bottom: 0; right: 60px;}
.grid_wrap .grid > div {position: absolute; top: 0; left: 0; width: 1px; height: 0vh; background-color: rgba(255, 255, 255, .1);}
.grid_wrap .grid > div:nth-of-type(1) {margin-left: 23%; transition: height 0.4s 0.1s ease-in;}
.grid_wrap .grid > div:nth-of-type(2) {margin-left: 38%; transition: height 0.4s 0.2s ease-in;}
.grid_wrap .grid > div:nth-of-type(3) {margin-left: 85%; transition: height 0.4s 0.3s ease-in;}
.grid_wrap .grid.show div:nth-of-type(1) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(2) {height: 100vh;}
.grid_wrap .grid.show div:nth-of-type(3) {height: 100vh;}

#section1.show .sec1 .ltext span em {transform: translateX(0px);}