.content {background-color: #000000;height: 100vh;width: 100%;}

.fixed-nav {display: flex;width: 300px; height: 0px;}
.fixed-nav .nav{text-align: right; position: fixed; align-items: flex-end;top: 60px;right: 0px;} 
.fixed-nav .nav li{font-size: 2.0em; margin-right: 5vh; font-weight: 700;}

.fixed-nav .nav li a {color: #212121; position: relative; display: inline-block; font-family: 'Montserrat', sans-serif;}
.fixed-nav .nav li a:before {animation-name: color;}
.fixed-nav .nav li a .active {animation-name: color;}
.section1 .title h2 {font-size: 110px;font-weight: 900;color: #fff; height: 100px;}
.section1 .title img {font-size: 110px;font-weight: 900;color: #fff; height: 100px;}

@keyframes color {from {background-color: #212121;}to {background-color: #FFF;}}