---
layout: default
type: home
---

<div id="content" class="content">
    <div id="main" class="main">
        <div class="inner">
            <div class="cursor cursor--small"></div>
            <canvas class="cursor cursor--canvas" resize></canvas>
            <div>
                <div class="text">
                    <h1>PARK <br /> KYUNG SUN </h1>
                    <h3>박경선</h3>
                </div>
                <div class="selfie">
                    <img id="selfie" src="" />
                </div>
            </div>
        </div>
        <div class="section-cont">
            <div class="section bubble">
                <h1>MOTTO.</h1>
                <div class="about_container">
                    <div class="about about1"></div>
                    <div class="about about2">
                        <div class="text_container">
                            <h1>PASSION.</h1>
                            <h2>
                                <span class="line-break670"> 항상 성장을 갈망하며, </span>
                                그 누구에게도 <br />
                                <span class="line-break670"> 뒤쳐지지 않는 </span>
                                열정을 갖고있습니다.</h2>
                        </div>
                    </div>
                    <div class="about about3">
                        <div class="text_container">
                            <h1>WITH.</h1>
                            <h2>
                                “함께”라는 가치를 중요시하여 <br />
                                주변 사람과 화합합니다.
                            </h2>
                        </div>
                    </div>
                    <div class="about about4">
                        <div class="text_container">
                            <h1>CONSTANTLY.</h1>
                            <h2>
                                <span class="line-break670">어떤 일을 하든지 </span>
                                포기하지 않고 <br />
                                까지 해냅니다.</h2>
                        </div>
                    </div>
                    <div class="about about5"></div>
                </div>
            </div>
            <img id="midImage" src="../assets/img/working.jpg" />
            <div class="section skill">
                <div class="graph-container">
                    <div class="graph">
                        <h1> LANGUAGE. </h1>
                        <canvas id="language"></canvas>
                    </div>
                    <div class="graph">
                        <h1> SKILL. </h1>
                        <canvas id="tect"></canvas>
                    </div>
                </div>
                <hr />
                <div class="contact">
                    <h1> CONTACT. </h1>
                    <form action="https://formspree.io/moqpvnpw" method="POST">
                        <input id="nameIp" type="text" name="name" placeholder="name">
                        <input id="emailIp" type="email" name="email" placeholder="email">
                        <textarea id="message" name="message" placeholder="message"></textarea>
                        <div>
                    <input id="submit" type="submit" value="OKAY" disabled>
                    <span id="sbmUnder"></span>
                </div>
                </form>
                    <div class="icon">
                        <div id="icon_mail" class="icon_mail"></div>
                        <a target="_blank" href="https://www.instagram.com/pppppppppark">
                            <div class="icon_insta"></div>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/%EA%B2%BD%EC%84%A0-%EB%B0%95-4b95961b2/">
                            <div class="icon_linkedin"></div>
                        </a>
                        <a target="_blank" href="https://github.com/gngsn">
                            <div class="icon_github"></div>
                        </a>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>