---
layout: default
---

<nav class="fixed-nav">
    <ul class="nav">
        <li><a href="#" class="active">DEVELOPER.</a></li>
        <li><a href="#">MOTTO.</a></li>
        <li><a href="#">ABOUT.</a></li>
        <li><a href="#">PROJECT.</a></li>
    </ul>
</nav>
<div id="contents" class="content">
    <section id="section1" class="content section1">
        <div class="main">
            <div class="selfie"></div>
            <h1>PARK <br /> KYEONG <br /> SEON </h1>
        </div>
        <div class="graph-container">
            <div class="graph">
                <p style="margin: 30px;"> Language </p>
                <canvas id="language"></canvas>
            </div>
            <div class="graph">
                <p style="margin: 30px;"> Skill </p>
                <canvas id="tect"></canvas>
            </div>
            {%- assign social = site.minima.social_links -%}
            <div class="icon">
                <div id="icon_mail" class="icon_mail"></div>
                <a target="_blank" href="https://www.instagram.com/{{ social.instagram }}">
                    <div class="icon_insta"></div>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/%EA%B2%BD%EC%84%A0-%EB%B0%95-4b95961b2/">
                    <div class="icon_linkedin"></div>
                </a>
                <a target="_blank" href="https://github.com/{{ social.github }}">
                    <div class="icon_github"></div>
                </a>
            </div>
        </div>

    </section>
    <section id="section2" class="content section2">
        <div>
            <div class="motto">
                <h1>할 땐 하자.<div class="underline"></div>
                </h1>

                <div class="onoff">
                    <div class="block on">
                        <h2> ON</h2> <span></span>
                    </div>
                    <div class="block off">
                        <h2>OFF</h2>
                    </div>
                </div>
                <h4 class="offset1"><span><em>개발할 땐 깊은 집중하고,</em></span></h4>
                <h4 class="offset2"><span><em>사람들과 어울릴 때에는 잘 화합하는 사람.</em></span></h4><br />
                <h2>“어차피 할 거! 후회하지 않도록.”<br /><br /></h2>
                <h4 class="offset3"><span><em>좌우명을 갖고 실천합니다.</em></span></h4>
            </div>
        </div>
    </section>
    <section id="section3" class="content section3">
        <div class="about_container">
            <div class="about about1"></div>
            <div class="about about2">
                <div class="text_container">
                    <h1>PASSION.<br /><br /></h1>
                    <h2>항상 성장을 갈망하며,<br />그 누구에게도<br />뒤쳐지지 않는<br />열정을 갖고있습니다.</h2>
                </div>
            </div>
            <div class="about about3">
                <div class="text_container">
                    <h1>WITH.<br /><br /></h1>
                    <h2>“함께”라는 가치를<br />중요시하여<br />주변 사람과 화합합니다.<br /></h2>
                </div>
            </div>
            <div class="about about4">
                <div class="text_container">
                    <h1>CONSTANTLY.<br /><br /></h1>
                    <h2>어떤 일을 하든지 <br />포기하지 않고 <br />끝까지 해냅니다.</h2>
                </div>
            </div>
            <div class="about about5"></div>
        </div>
    </section>
    <section id="section4" class="content section4">

        {% if site.paginate %}
            {% assign posts = paginator.posts %}
        {% else %}
            {% assign posts = site.posts %}
        {% endif %}

        {%- if posts.size > 0 -%}
        <div class="grid">
            {%- for post in posts -%}
            <details>
                <summary>
                    <h2> {{ post.duration }} </h2>
                    <h3> {{ post.title }}</h3>
                </summary>
                <div class="project">
                    <h4>SUMMARY</h4>
                    <p>{{ post.summary }}</p>
                    <h4>SKILL</h4>
                    <p>{{ post.skill }}</p>
                    <h4>DETAIL</h4>
                    {{ post.content }}
                </div>
                {% if post.curriculum %}
                <div class="project">
                    {{ post.curriculum }}
                    <h4>세미나 자료 </h4>
                    <a href="https://drive.google.com/drive/folders/1LGXAw4he2bH2LiUMP4aS80-8XqoUcDOC">
                        <p>> 세미나 자료 전체 확인</p>
                    </a>
                    <div class="gallery">
                        <img src="/assets/img//photo1.png">
                        <img src="/assets/img/photo2.png">
                        <img src="/assets/img/photo3.png">
                        <img src="/assets/img/photo4.png">
                        <img src="/assets/img/photo5.png">
                        <img src="/assets/img/photo6.png">
                    </div>
                    <h4>링크</h4>
                    <p><a href="https://github.com/gngsn/26th_SERVER">> Github 링크 - 세미나 실습 자료</a></p>
                </div>
                {% endif %}
            </details>
            {%- endfor -%}
        </div>
        {%- endif -%}
    </section>
    </div>
</div>