---
layout: default
type: post
---

<div id="post" class="post">
    <div id="main" class="main hide">
        <div id="img-wrapper"><div id="img"></div></div>
        <div class="cursor cursor--small"></div>
        <canvas class="cursor cursor--canvas" resize></canvas>
        <img class="back-btn" onclick="back()" src="/assets/img/cancel-red.png" />
        {% if page.bgColor == white %}
        <div style="background-color: black;color: white;" id="section-cont" class="section-cont">
        {% else %}
        <div style="background-color: white;color: black;" id="section-cont" class="section-cont">
        {% endif %}
            <div style="color: white;" class="title">
                <h2> {{ page.duration }} </h2>
                {% if page.tit %}
                <h3> {{ page.tit }}</h3>
                {% else %}
                <h3> {{ page.title }}</h3>
                {% endif %}
            </div>
            {% if page.video %}
            <video autoplay loop height="100vh">
                <source src={{ page.video }} type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
            {% elsif page.image %}
            <img src={{ page.image }} />
            {% endif%}
            <div class="content">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>