/* ABOUT */
// { top: 0;left: 0;width: 100%;transition: 0.8s transform cubic-bezier(0.65, 0, 0.35, 1); z-index: -1; background-color: #FFF; padding-top: 90px; padding-top: 20vh;}

.about { 
    main span{display: inline;}
    a:link:active, a:visited:active {color: #000;}
    .main {width: 100vw; margin: 0px; overflow: auto;}

    top: 0;left: 0;width: 100%;transition: 0.8s transform cubic-bezier(0.65, 0, 0.35, 1); z-index: -1;padding-top: 90px; padding-top: 20vh;
    height: 100vh; -webkit-transition: background-color 500ms ease-out;-moz-transition: background-color 500ms ease-out; -o-transition: background-color 500ms ease-out;transition: background-color 500ms ease-out;position: fixed;
    h1{width: 240px; font-size: 3.5rem; display: inline-block; text-align: center;}
    h1 em{font-size: 3.5rem; display: inline-block; font-style: normal; opacity: 0.1; transition: none;}
    h2{font-size: 2.8rem; text-align: center; width: 240px;}
    h2 em{font-size: 2.6rem;text-align: center; font-style: normal;transition: none;}
    h1+p{text-align:center; font-size: 1rem;line-height: 0; margin: 0; color: #bdbdbd;}
    .switch{display: flex;align-items: center;padding-top: 30px; justify-content: center; max-width: 850px; margin: auto; justify-content: space-around;}
    .switch *:not(em){transition: all 600ms ease-in;}
    .switch img{width: 110px;cursor: pointer;}
    
    .sub-title {
        display: flex; justify-items: center; align-items: center; flex-direction: column;
        &:last-child {padding-top: 40px;}
        &, h2{text-align: center; color: #000}
        h3{font-size: 1.7rem; margin-top: 40px;}
        span{position: absolute; display: inline-block; opacity: 0.8; z-index: -1; transform: rotate(-1deg);}
        /* h1+span{width: 330px; margin-top: 60px;} */
        h3+span{width: 400px; margin-top: 60px; opacity: .4;}
    }
}



/* PROJECT */
.project { 
    padding: 250px 0 100px;
    .sub-cnt{padding: 60px 70px 10px;}
    .sub-cnt p {text-align: left; font-size: 1.8rem; margin: 0;}
    .sub-cnt.right p {text-align: right;}
    .sub-cnt .red-line {align-items: flex-start;}
    
    .sub-cnt.right .red-line {align-items: flex-end;}
    .red-line{display: flex;flex-direction: column;align-items: center;}
    .red-line h1 {text-align: center; font-size: 4rem; z-index: 1;}
    .red-line h2 {text-align: left; font-size: 4rem; z-index: 1;}
    .red-line >span{position: absolute;display: inline-block; opacity: 0.4; transform: rotate(-1deg); z-index: 0; }
    .red-line>h1+span{width: 750px; margin-top: 90px;}
    .red-line>h2+span{width: 350px; margin-top: 80px;margin-left: -20px;}
    .red-line h1 em{display: inline;}
    
    .sub-cnt .skill{display: flex; padding: 40px 0px 20px;flex-wrap : wrap;}
    .sub-cnt.right .skill{justify-content: flex-end;}
    .section-cont .post .content h4{font-size: 2rem;}
    .skill img{height: 90px; width: 90px;margin-right: 15px;}
    .skill h4{display: inline; vertical-align: middle; font-size: 2rem; margin: 0 25px 0 10px; line-height: 90px;}
    
    .center .slick-list{margin-top: 10px;z-index: 3; }
    .center .slick-track{justify-items: center;display: flex; margin: auto;}
    .center .slick-slide{
        margin: 20px;transition: all 500ms ease;cursor: pointer;max-width: 500px;border-radius: 10px;
        &.slick-active {opacity: 1;}
        img{object-fit: cover; height: 100%; width: 100%;height: 250px;border-radius: 10px;}        
        div{width: 100%; height: 100%;}
        .proj{position: relative; margin: 0px;}
        .proj img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
        .proj .open{width: 100vw; height: 100vh;}
        .proj-title{z-index: 30;position: relative;padding: 20px 0px; width: 100%;}
        .proj-title h1{font-size: 1.4rem; text-align: center;}
        .proj-title h2{font-size: 1rem; text-align: center;}
        .proj-title h3{font-size: 0.6rem; text-align: center; line-height: 2;}
        // .center .slick-slide:hover{transform: scale(1.1);}
    }
    .square {z-index: 100; position: absolute;width: 100%;height: 100%;cursor: pointer;}
    // .full-screen-square{position: fixed;top: 0;left: 0;z-index:10; width: 100vw;height: 100vh; cursor: pointer;background-color: #fff;}
    // .detail-container{z-index: 11; position: relative;top: 0;left: 0;}
    // .detail-container .content{z-index: 20;}
    .proj-title .skill{display: inline-flex; padding: 0px;flex-wrap : wrap;}
    .center .slick-prev{display: none !important;}
    .center .slick-next{display: none !important;}
    &.detail-active{z-index: -1; pointer-events: none;}
    
    .dots{position: absolute;display: block;width: 100%; padding: 0;margin: 0;list-style: none;text-align: center;}
    // .dots{display: inline; justify-content: center; margin-top: 20px; list-style-type: none;}
    .dots li{position: relative;display: inline-block;margin: 0 5px;padding: 0;width: 20px;height: 20px;cursor: pointer;}
    .dots li button{margin-right: 20px; width: 10px !important; height: 7px !important; border: 0;text-indent:-10000px; cursor: pointer;}
    .back-btn{position: fixed; right: 50px; z-index: 999; width: 50px; height: 50px; top: 45vh; cursor: pointer;}

    .post {
        
        .title{text-align: left; vertical-align: text-bottom; height: 0; }
        // .title *{z-index: 0;}
        &> img{height:100vh; width: 100vw; top: 0; object-fit: cover;z-index: -1; }
        p {font-size: 1rem; line-height: 1.3;}
        h2{color:white; font-size: 3.5rem; margin: 55vh 0px 30px 10vw;}
        h3{color:white;font-size: 3.8rem; margin: 0; margin-left: 10vw;}
        h5.quot-title {display:block; font-size: 2rem; text-align: center;}
        h5.quot-title:before { content:"“"; font-size: 4rem; line-height: .3; display: block;}
        h5.quot-title:after {content:"”"; font-size: 4rem;line-height: .3; margin-top: 3rem; display: block;}
        .flex-box{display: flex;width: 100%;justify-content: center; align-items: center;margin: 70px auto;}
        .flex-box h4{margin: 150px 80px 0px;font-size: 24px; max-width: 500px;line-height: 2.4;}

        .skill{display: flex; padding: 40px 0px 20px;flex-wrap : wrap; justify-content: center; align-content: center;line-height: 1.5;}
        .content [class^="section"] {padding: 10px 100px;}
        .content h4{font-size: 2rem;}
        .skill img{height: 90px; width: 90px;margin-right: 15px;}
        .skill h4{display: inline; vertical-align: middle; font-size: 1.7rem;margin: 0 25px 0 10px; font-family: 'Noto L';}
        .gallery {display: flex; flex-direction: row; width: 100%; overflow-x: scroll; overflow-y: hidden; height: 320px; }
        .gallery img {height: 250px; margin: 5vh 30px;}
        a{color: #dd4226;}
        .gallery::-webkit-scrollbar {height: 6px;}
        .gallery::-webkit-scrollbar-thumb {opacity: .4; border-radius: 15px;background-color: #dd4226;}
        .gallery::-webkit-scrollbar-track {opacity: .4; border-radius: 15px;}
        .server-head {
            padding-bottom: 70px;
            &>img{margin: auto;margin-bottom: 40px; border-radius: 10px; max-width: 80vw;}
            // .gallery{ scrollbar-3dLight-Color: #dd4226; scrollbar-arrow-color: #dd4226; scrollbar-base-color: #dd4226; scrollbar-Face-Color: #dd4226; scrollbar-Track-Color: #dd4226; scrollbar-DarkShadow-Color: #dd4226; scrollbar-Highlight-Color: #dd4226; scrollbar-Shadow-Color: #dd4226;}
            .flex-box>img{width:50%; border-radius: 10px; max-width: 650px;}
            .flex-box .left{margin-right: 80px;}
            .flex-box p{max-width: 600px; line-height: 2;}
            .flex-box a img{width: 30px;display: inline-block; margin-right: 10px;}
            p {text-align: center;}
            .section4 {padding: 10px 0px 10px 50px;margin-top: 120px;}
            .section5{margin-top: 160px;}
            .section5 a{text-align: center; display: block; display: flex; align-content: center; justify-content: center;}
            .section5 a img,.section5 a p{display: inline-block; align-self: center;}
            // .gallery{ padding: 0px 20px 5px; box-shadow: inset 20px 1px 12px 4px rgba(192, 192, 192, 0.192);}
            .gallery img{box-shadow: 0px 0px 12px 10px rgba(192, 192, 192, 0.192);}
            .gallery img:last-child{margin-right: 30px;}
            .gallery::-webkit-scrollbar {height: 7px;margin-top: 20px;}
            .gallery::-webkit-scrollbar-thumb {opacity: .4; border-radius: 15px;}
            a, a:link:active,a:visited:active {line-height: 1; font-weight: 200; }
        }
        .early-buddy {
            .flex-box a img{width: 42px;display: inline-block; margin-right: 10px;}
            a,h1,h2,h3,h4,h5,p {color: #000;}
            a, a:link:active,a:visited:active {line-height: .3; color: #000; font-weight: 200; display: flex; align-items: center;}
            .flex-box a{margin-top: 30px;}
            &>img{margin: auto;margin-bottom: 40px;}
            .section.video {margin-bottom: 500px;}
            iframe{position: absolute; left:50%; transform: translateX(-50%);}
            .info{padding-top: 100px; display: flex; flex-direction: column; justify-content: center;}
            .info h5{padding-top: 100px;}
            .info img{margin: 0px auto;width:700px;box-shadow: 5px 5px 15px 6px rgba(0, 0, 0, 0.205);}
            .tech{padding-top: 150px;}
            .tech h5{margin: 120px auto 10px;}
            .flex-box{justify-content: space-around;align-items: center;}
            .flex-box img {max-width: 350px; margin-right: 20px;}
            .flex-box p {max-width: 700px;}
        }

        .tooc {
            .fb-video{ left: 50%; transform: translateX(-50%); width: 60vw;height: 100%;}
            .fb_iframe_widget_fluid {display: inline-block !important;}
            .flex-box{justify-content: space-around;align-items: center;}
            .flex-box h4{text-align: left;margin: 0px 0px 20px; font-weight: 200;}
            .flex-box .skill {padding: 20px 0px 20px;}
            .flex-box .slick-track {display: flex; flex-direction: row;}
            .flex-box .slick-auto {margin-right: 20px; margin-left: 40px;}
            .flex-box >div img {border-radius: 0px;}
            .flex-box img {max-width: 350px; margin-right: 20px; border-radius: 10px;}
            .flex-box .left {margin-right: 40px;}
            .flex-box p {max-width: 700px; line-height: 1.8; font-size: 1.2rem;}
            .flex-box a:not(.img-cont) img{width: 42px;display: inline-block; margin-right: 10px;}
            a, a:link:active, a:visited:active {line-height: .3; font-weight: 200; display: flex; align-items: center;}
            .section2 {margin-top: 150px;}
            .section3 {margin-top: 150px;}
            .section4 p {font-size: 1.2rem; line-height: 1.8;}
            .flex-box{justify-content: flex-start; align-items: flex-start;}
        }
        .sopt-page
        {
            &>h5{margin-bottom: 20px;}
            .main-img{width: 60vw; height:70vh; overflow-y: scroll;padding-right: 10px; margin: auto; overflow-x: hidden;}
            .main-img img{width: 100%;margin-right: 20px;border-radius: 10px;}
            .main-img::-webkit-scrollbar {width: 6px; }
            .main-img::-webkit-scrollbar-track {border-radius: 6px;}
            .main-img::-webkit-scrollbar-thumb {border-radius: 10px;}
            .section2{margin-top: 160px;}
            .section2 h5{margin-bottom: 10px;}
            .section2 p{line-height: 1.7;}
            .section2 .flex-box {margin: 0px auto; max-width: 1000px;}
            .section2 .flex-box img.left{border-radius: 5px; max-width: 340px;margin-right: 50px;}
            .section2 .flex-box .right{ max-width: 400px; border-radius: 10px; margin-left: 30px;}
            .section3 .img-cont{border-radius: 5px; max-width: 80vw;height: 70vh; padding-right: 20px; overflow-y: scroll; overflow-x: hidden;}
            .section3 .img-cont img{border-radius: 5px; width:100%; margin-right: 20px;}
            .img-cont::-webkit-scrollbar {width: 6px; }
            .img-cont::-webkit-scrollbar-track {border-radius: 6px;}
            .img-cont::-webkit-scrollbar-thumb {border-radius: 10px;}
            .section3{margin-top: 200px;}
            .section3 h5{margin-bottom: 10px;}
            .section3 .img-cont{width: 60vw; height:70vh; overflow-y: scroll;padding-right: 10px; margin: 40px auto;}
            .section3 .img-cont img{width: 100%;margin-right: 20px;border-radius: 10px;}
            .section3 p{line-height: 1.7;font-size: 1.2rem;}
        }

        .get-rest {
            .section1{display: flex; flex-direction: column; align-items: center;}
            .section1 img{width: 700px; border-radius: 10px; margin: auto;box-shadow: 0px 0px 40px 5px rgba(32, 32, 32, 0.144);}
            .section2{display: flex; flex-direction: column; justify-content: space-around; max-width: 1200px; margin: auto; margin-top: 80px;}
            .section2 iframe{width: 300px; margin:0px 20px;}
            .section2 .flex-box {margin-top: 10px;}
            .section2 .flex-box > div{max-width: 500px;margin-left: 50px;}
            .section2 p{font-size: 1.2rem; line-height: 2.5; }
            .section2 .flex-box .skill img{height: 60px;width: 60px;}
            .section3{padding: 20px 0px 200px;}
            .slick-dots li{display: none;}
            .section4 .flex-box a img{width: 350px;}
            .section4 .flex-box p{margin: 0px 70px;}
            .section4 p{font-size: 1.2rem; line-height: 1.7;}
        }
    }
}


@media (max-width:1200px) {
    .center .slick-slide .proj-title h1{font-size: 1.2rem;}
    .project .center .slick-slide .proj-title h2{font-size: 0.8rem;}
    .project .skill img {height: 60px;width: 60px;}
    .project .skill h4 {font-size: 1.5rem;line-height: 50px;}
}

@media (max-width:1024px) {
    .project .section-cont .post h2{font-size: 2.5rem;}
    .project .section-cont .post h3{font-size: 2.8rem;}
    .project .skill img {height: 50px;width: 50px;margin-right: 10px;}
    .project .skill h4 {font-size: 1.2rem;line-height: 40px;}
}

/* iPad Pro 12 */
@media (max-width:1024px) and (min-height:1200px) {
    .about{padding-top: 25vh;}
    .proj{padding-top: 25vh;}
}

@media (max-width:900px) {
    .project .center.backend .slick-slide{opacity: 1;}
    .about h1 {font-size: 2.7rem; width: 230px;}
    .about h1 em{font-size: 2.7rem;}
    .about .switch {max-width: 600px;}
    .about h2 {font-size: 2.2rem;width: 230px;}
    .about h2 em{font-size: 2.2rem;}
}

@media (max-width:800px) {
    .project .sub-cnt p {font-size: 1.3rem;}
    .project .red-line h1 {font-size: 3rem;}
    .project .red-line>h1+span {width: 500px;margin-top: 70px;border-width: 17px}
}

@media (max-width:660px) {
    .break-line660 {display: block;}
    .about h2 {font-size: 2rem;}
    .project .section-cont .post h2{font-size: 1.6rem;}
    .project .section-cont .post h3{font-size: 2rem;}
    .project .sub-cnt {padding: 60px 30px 10px;}
    .project .red-line h1 em{display: none;}
    .project .red-line>h1 { font-size: 4rem;}
    .project .red-line>h1 span{font-size: 2rem;}
    .project .red-line>h1+span {width: 400px;margin-top: 130px;border-width: 30px;transform: rotate(-5deg);}
}

@media (max-width:550px) {
    .about .inner{padding-top: 90px;}
    .about .switch{flex-direction: column;}
    .about h1 {font-size: 3rem;margin-top: 40px;margin-bottom: 20px;}
    .about .link.switch {padding-top: 70px; padding-bottom: 20px;}
    .about .switch {padding-top: 10px;}
    .about .sub-title h1 {font-size: 3.4rem;}
    .about .sub-title h3 {font-size: 1.6rem;margin-top: 30px;}
    .about .sub-title:last-child {padding-top: 0px;}
    .about .sub-title h1 {margin: 0px;}
    .about .sub-title h1+span {width: 250px;margin-top: 45px;}
    .about .sub-title h3+span {width: 350px;margin-top: 50px;}
    .project .center .slick-slide .proj-title{margin: 40px auto;}
    .project .center .slick-slide .proj-title h2{font-size: 0.8rem; }
    .project .center .slick-slide .proj-title h1{font-size: 1.5rem; }
    .project .center .slick-slide .proj-title h3{font-size: 0.8rem;margin-top: 30px;}
    .project .section-cont .post h2{font-size: 1.2rem;}
    .project .section-cont .post h3{font-size: 1.5rem;}
    .project .red-line h2 {font-size: 2.8rem;}
    .project .red-line>h2+span {width: 240px;margin-top: 70px;}
}

@media (max-width:480px) {
    .inner{padding-top: 90px;}
    .project .center .slick-slide .proj-title h1{font-size: 1.2rem; }
    .center .slick-slide{margin: 0px;}
    .project .section-cont .post h2{font-size: 1.2rem; margin: 40vh 0px 30px 5vw;}
    .project .section-cont .post h3{font-size: 1.5rem;margin-left: 5vw;}
    .about h2 {font-size: 2rem;}
    .about .switch img {width: 70px;}
    .project .red-line>h1 { font-size: 3rem;}
    .project .red-line>h1 span{font-size: 1.5rem;}
    .project .red-line>h1+span {width: 300px;margin-top: 100px;border-width: 15px;transform: rotate(-3deg);}
}

@media (max-width:375px) {
    .about .inner{padding-top: 80px;}
    .about .sub-title h3 {font-size: 1.4rem;}
    .about .sub-title h3+span {width: 320px;margin-top: 50px;}
    .about .sub-title h1 {margin: 0px 0px 30px;}
    .project .red-line h2 {font-size: 3rem;}
    .project .red-line>h2+span {width: 250px;margin-top: 80px;}
}



.about {
    // body {background-color: #FFF; transition: all 0.25s linear;}
    h1{font-family: 'Noto B';}
    h1 em{font-family: 'Noto B'; }
    h2{font-family: 'Noto B';}
    h2 em{font-family: 'Noto Th'; }

    a,h1,h2,h3,h4,h5,p {color: #000;font-family: 'Noto Th';}
    a:link:active, a:visited:active {color: #000;}
    .sub-title h3{font-family: 'Noto L';}
    .sub-title, h2{color: #000;}
    .sub-title span{ border-bottom: 3px solid #dd4226;}
}


.project .red-line h1 {font-family: 'Noto M';}
.project .red-line>h1+span{border-bottom: 23px solid #dd4226; opacity: .6;}
.project .red-line>h2+span{border-bottom: 10px solid #dd4226;}
.project .center .slick-slide{background-color: #000;}
.project .center .slick-slide.slick-active {color: #000;}
.project .center .slick-slide .proj-title h1{font-family: 'Noto B'; color: #FFF;}
.project .center .slick-slide .proj-title h2{font-family: 'Noto B';color: #FFF;}
.project .center .slick-slide .proj-title h3{color: #FFF;}
.project .center>button{color: #FFF;}
.dots li button{background-color: rgba(71, 71, 71, 0.726); }
.dots li.slick-active button{background-color: #dd4226;}
// .dots li.slick-active button{background-color: rgba(224, 224, 224, 0.726);}
