.nav {
    position: fixed; display: flex;z-index: 10; top: 0%; width: 100vw; padding-top: 20px;
    a {font-weight: 100; font-size: 2.6rem;cursor: pointer;}
    a:link {text-decoration: none;}
    // a:hover { color: rgb(163, 105, 105);}
    a:visited {text-decoration: none; }
    a:active {text-decoration: none;}
    * {overflow-y: hidden;}
    .link{
        display: inline-flex; font-family: 'Noto Th';
        &:not(#home){margin-left: 40px;}
        &#home{ margin: 0px 40px 0px auto; text-align: right; justify-self: flex-end; font-family: 'Noto M'; color: #dd4226; }
        & span{position: fixed; margin-left: -10px; width: 120px; margin-top: 30px; z-index: 99; border-top: 2px solid #dd4226;transform: rotate(-3deg);opacity: .5;}
        &#about span{width: 160px;}
    }
}



@media (max-width:600px) {
    header .link:not(#home){min-width: 90px;width: 100px; margin-left: 20px;}
    .link#home span{ width: 75px; margin-top: 17px; border-top: 1.3px solid #dd4226;}
    .nav a{font-size: 1.5rem;}
    .link#home{font-size: 1.5rem;}
    .link span{margin-top: -20px;}
    .link#home {padding-right: 30px; max-width: 130px;}
}