.nav {
    position: fixed; color: #000; display: flex;z-index: 10; top: 0%; width: 100vw; padding-top: 20px;
    a {font-weight: 100; font-size: 2.6rem;cursor: pointer;}
    a:link {text-decoration: none; color: #000;}
    a:hover { color: rgb(163, 105, 105);}
    a:visited {text-decoration: none; color: #000;}
    a:active {text-decoration: none; color: #000;}
    * {overflow-y: hidden;}
    .link{
        // display: inline-block;
        display: inline-flex;
        font-family: 'Noto Th';
        &:not(#home){margin-left: 40px;}
        &#home{ margin: 0px 40px 0px auto; text-align: right; justify-self: flex-end; font-family: 'Noto M'; color: #dd4226; }
        & span{ position: fixed; margin-left: -10px; width: 120px; margin-top: 20px; z-index: 99; border-top: 2px solid #dd4226;transform: rotate(-3deg);opacity: .5;}
        &#about span{width: 160px;}
    }
}



@media (max-width:600px) {
    header .link:not(#home){min-width: 90px;width: 100px; margin-left: 20px;}
    .link#home span{ width: 75px; margin-top: 17px; border-top: 1.3px solid #dd4226;}
    .nav a{font-size: 1.5rem;}
    .link#home{font-size: 1.5rem;}
    .link span{margin-top: -20px;}
    .link#home {padding-right: 30px; max-width: 130px;}
}


.sw {position: relative;display: inline-block;width: 60px;height: 34px;margin-bottom: 7px; margin-top: 5px;}
.sw input { opacity: 0;width: 0;height: 0;}
.dark-mode {position: fixed; right: 5vw;bottom: 40px;margin: auto; display: flex; align-items: flex-end;height: 50px; z-index: 10000; align-items: flex-start;}
.slider:before {position: absolute; font-size: 2.4rem; content: "";-webkit-transition: .4s;transition: .4s;filter: none;}
.sw input:focus + .slider {box-shadow: 0 0 1px #181818;}
.sw input:checked + .slider {background-color: #181818;}
.sw input:checked + .slider:before {background-color: rgb(255, 255, 255);-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.dark-mode .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0; border: 3px solid #181818;-webkit-transition: .4s;transition: .4s;}
.dark-mode .slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 2px;bottom: 1.3px;background-color: #181818;-webkit-transition: .4s;transition: .4s;}
.dark-mode .slider.round {border-radius: 34px;} 
.dark-mode .slider.round:before {border-radius: 50%;}