@mixin setFlex {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.about {
    .switch {
        @include setFlex;
        padding-top: 30px;
        max-width: 850px;
        margin: auto;

        p.caption {
            text-align: center;
            font-size: 1rem;
            line-height: 0;
            margin: 0;
            color: #bdbdbd;
        }

        img {
            width: 110px;
            // cursor: pointer;
            z-index: 1;
        }

        h1 {
            font-size: 3.5rem;
            text-align: center;
            width: 100%;
            display: inline-block;
            text-align: center;
            position: absolute;
            z-index: -1;
            opacity: 0;

            em {
                opacity: 0.1;
            }

            &.--active {
                z-index: 1;
                position: relative;
                transition: all 300ms ease-in-out;
                opacity: 1;
            }
        }

        .rightText {
            text-align: center;
            width: 240px;
            position: absolute;
            font-size: 2.2rem;

            * {
                margin: 0px;
            }

            h2, h3 {
                transform: translateY(-2.8rem);
                opacity: 0;
            }

            &.--active {
                position: relative;
            }

            &.--active * {
                opacity: 1;
                display: inline-block;
                transition: all .5s ease-in;
                transform: translateY(0rem);
            }

            &.--active h3 {
                transition-delay: .2s;
            }
        }

    }

    .sub-title {
        @include setFlex();
        letter-spacing: 7px;
        flex-direction: column;

        &:last-child {
            padding-top: 40px;
        }

        &,
        h2 {
            text-align: center;
        }

        h3 {
            font-size: 1.3rem;
            margin-top: 40px;
        }

        span {
            position: absolute;
            display: inline-block;
            opacity: 0.2;
            z-index: -1;
            transform: rotate(-1deg);
        }

        h3+span {
            width: 400px;
            margin-top: 30px;
            opacity: .4;
        }
    }
}